/* line 2, /Users/michelsonmartinez/Documents/rubyonrails/medium-editor/source/assets/stylesheets/_scaffold.scss */
*,
*:before,
*:after {
  box-sizing: border-box; }

/**
 * Tooltips!
 */
/* Base styles for the element that has a tooltip */
/* line 10, /Users/michelsonmartinez/Documents/rubyonrails/medium-editor/source/assets/stylesheets/_tooltips.scss */
[data-tooltip],
.tooltip {
  position: relative;
  cursor: pointer; }

/* Base styles for the entire tooltip */
/* line 17, /Users/michelsonmartinez/Documents/rubyonrails/medium-editor/source/assets/stylesheets/_tooltips.scss */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -moz-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  pointer-events: none; }

/* Show the entire tooltip on hover and focus */
/* line 45, /Users/michelsonmartinez/Documents/rubyonrails/medium-editor/source/assets/stylesheets/_tooltips.scss */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

/* Base styles for the tooltip's directional arrow */
/* line 60, /Users/michelsonmartinez/Documents/rubyonrails/medium-editor/source/assets/stylesheets/_tooltips.scss */
.tooltip:before,
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: ""; }

/* Base styles for the tooltip's content area */
/* line 69, /Users/michelsonmartinez/Documents/rubyonrails/medium-editor/source/assets/stylesheets/_tooltips.scss */
.tooltip:after,
[data-tooltip]:after {
  white-space: nowrap;
  z-index: 1000;
  padding: 7px 8px;
  background-color: #000;
  background-color: rgba(51, 51, 51, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  font-size: 12px;
  line-height: 1.2;
  border-radius: 3px; }

/* Directions */
/* Top (default) */
/* line 86, /Users/michelsonmartinez/Documents/rubyonrails/medium-editor/source/assets/stylesheets/_tooltips.scss */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after,
.tooltip-top:before,
.tooltip-top:after {
  bottom: 100%;
  left: 50%; }

/* line 96, /Users/michelsonmartinez/Documents/rubyonrails/medium-editor/source/assets/stylesheets/_tooltips.scss */
[data-tooltip]:before,
.tooltip:before,
.tooltip-top:before {
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: #000;
  border-top-color: rgba(51, 51, 51, 0.9); }

/* Horizontally align top/bottom tooltips */
/* line 106, /Users/michelsonmartinez/Documents/rubyonrails/medium-editor/source/assets/stylesheets/_tooltips.scss */
[data-tooltip]:after,
.tooltip:after,
.tooltip-top:after {
  margin-left: -80px; }

/* line 112, /Users/michelsonmartinez/Documents/rubyonrails/medium-editor/source/assets/stylesheets/_tooltips.scss */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after,
.tooltip-top:hover:before,
.tooltip-top:hover:after,
.tooltip-top:focus:before,
.tooltip-top:focus:after {
  -webkit-transform: translateY(-12px);
  -moz-transform: translateY(-12px);
  transform: translateY(-12px); }

/* Left */
/* line 130, /Users/michelsonmartinez/Documents/rubyonrails/medium-editor/source/assets/stylesheets/_tooltips.scss */
.tooltip-left:before,
.tooltip-left:after {
  right: 100%;
  bottom: 50%;
  left: auto; }

/* line 137, /Users/michelsonmartinez/Documents/rubyonrails/medium-editor/source/assets/stylesheets/_tooltips.scss */
.tooltip-left:before {
  margin-left: 0;
  margin-right: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-left-color: #000;
  border-left-color: rgba(51, 51, 51, 0.9); }

/* line 146, /Users/michelsonmartinez/Documents/rubyonrails/medium-editor/source/assets/stylesheets/_tooltips.scss */
.tooltip-left:hover:before,
.tooltip-left:hover:after,
.tooltip-left:focus:before,
.tooltip-left:focus:after {
  -webkit-transform: translateX(-12px);
  -moz-transform: translateX(-12px);
  transform: translateX(-12px); }

/* Bottom */
/* line 156, /Users/michelsonmartinez/Documents/rubyonrails/medium-editor/source/assets/stylesheets/_tooltips.scss */
.tooltip-bottom:before,
.tooltip-bottom:after {
  top: 100%;
  bottom: auto;
  left: 50%; }

/* line 163, /Users/michelsonmartinez/Documents/rubyonrails/medium-editor/source/assets/stylesheets/_tooltips.scss */
.tooltip-bottom:before {
  margin-top: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-bottom-color: #000;
  border-bottom-color: rgba(51, 51, 51, 0.9); }

/* line 171, /Users/michelsonmartinez/Documents/rubyonrails/medium-editor/source/assets/stylesheets/_tooltips.scss */
.tooltip-bottom:hover:before,
.tooltip-bottom:hover:after,
.tooltip-bottom:focus:before,
.tooltip-bottom:focus:after {
  -webkit-transform: translateY(12px);
  -moz-transform: translateY(12px);
  transform: translateY(12px); }

/* Right */
/* line 181, /Users/michelsonmartinez/Documents/rubyonrails/medium-editor/source/assets/stylesheets/_tooltips.scss */
.tooltip-right:before,
.tooltip-right:after {
  bottom: 50%;
  left: 100%; }

/* line 187, /Users/michelsonmartinez/Documents/rubyonrails/medium-editor/source/assets/stylesheets/_tooltips.scss */
.tooltip-right:before {
  margin-bottom: 0;
  margin-left: -12px;
  border-top-color: transparent;
  border-right-color: #000;
  border-right-color: rgba(51, 51, 51, 0.9); }

/* line 195, /Users/michelsonmartinez/Documents/rubyonrails/medium-editor/source/assets/stylesheets/_tooltips.scss */
.tooltip-right:hover:before,
.tooltip-right:hover:after,
.tooltip-right:focus:before,
.tooltip-right:focus:after {
  -webkit-transform: translateX(12px);
  -moz-transform: translateX(12px);
  transform: translateX(12px); }

/* Move directional arrows down a bit for left/right tooltips */
/* line 205, /Users/michelsonmartinez/Documents/rubyonrails/medium-editor/source/assets/stylesheets/_tooltips.scss */
.tooltip-left:before,
.tooltip-right:before {
  top: 50%;
  margin-top: -6px;
  bottom: auto; }

/* Vertically center tooltip content for left/right tooltips */
/* line 213, /Users/michelsonmartinez/Documents/rubyonrails/medium-editor/source/assets/stylesheets/_tooltips.scss */
.tooltip-left:after,
.tooltip-right:after {
  margin-left: 0;
  margin-bottom: -16px; }

/* line 9, /Users/michelsonmartinez/Documents/rubyonrails/medium-editor/source/assets/stylesheets/all.css.scss */
#header {
  display: block;
  z-index: 500;
  width: 100%;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
  font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  -webkit-transition: 200ms background-color,200ms color;
  transition: 200ms background-color,200ms color;
  position: fixed;
  top: 0;
  height: 65px;
  background: rgba(255, 255, 255, 0.97);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15); }

/* line 29, /Users/michelsonmartinez/Documents/rubyonrails/medium-editor/source/assets/stylesheets/all.css.scss */
article {
  margin-top: 140px; }

/* line 34, /Users/michelsonmartinez/Documents/rubyonrails/medium-editor/source/assets/stylesheets/all.css.scss */
.logo {
  display: inline-block; }
/* line 37, /Users/michelsonmartinez/Documents/rubyonrails/medium-editor/source/assets/stylesheets/all.css.scss */
.logo img {
  margin: 22px 14px 22px 20px; }
/* line 40, /Users/michelsonmartinez/Documents/rubyonrails/medium-editor/source/assets/stylesheets/all.css.scss */
.logo span {
  vertical-align: top;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  padding: 5px 14px;
  margin: 20px 0;
  display: inline-block; }

/* line 50, /Users/michelsonmartinez/Documents/rubyonrails/medium-editor/source/assets/stylesheets/all.css.scss */
.github {
  float: right;
  font-size: 32px;
  color: #1abf89;
  line-height: 0;
  margin-top: 19px;
  margin-right: 24px; }
/* line 58, /Users/michelsonmartinez/Documents/rubyonrails/medium-editor/source/assets/stylesheets/all.css.scss */
.github i {
  position: relative;
  top: -2px; }
